*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
    background-color: #DCB4D8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgba(255, 255, 255, 0.2);
    width: 240px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.container:hover{
    transform: translateY(-10px);
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid white;
    transition: 0.3s;
}

img:hover{
    transform: scale(1.1);
}

.content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
    font-family: sans-serif;
    text-align: center;
    font-size: 70%;
}

h1{
    color: red;
}
p:first-of-type{
    color: yellow;
    font-size: 13px;
}

p:last-of-type{
    color: white;
    line-height: 18px;

}

.url{
    display: flex;
    gap: 20px;
}

a{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    color: white;
    transition: all 0.2s;
}

a:hover{
    color: #6B5CE7;
    border: 4px solid white;
    background-color: white;
}