* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFDE7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 500px;
    border-radius: 8px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
    gap: 10px;
}

.img_main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.img_main img{
    border-radius: 6px;
    width: 480px;
    height: 240px;
}

.head{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 460px;
}

.text{
    display: flex;
    flex-direction: column;
    width: 460px;
    gap: 10px;
}

.comment{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 480px;
    gap: 6px;
    padding: 10px;
}

ul {
    list-style-type: none; 
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

ul:first-of-type{
    list-style-type: disc; 
    padding-left: 0;
}

.evaluate{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

li {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.select{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #f0f2f5;
    color: #333;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    width: fit-content;
    height: 20px;
    cursor: pointer;
}

.tag:hover {
    background-color: #e2e4e7;
    transform: scale(1.05);
}

.tag i {
    color: #555;
}

.star{
    color: #FFD43B;
}

.head button{
    display: flex;
    flex-direction: row;
    padding: 6px 12px;
    gap: 4px;
    width: 162px;
    height: 28px;
    background-color: #FF532E;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.head button:hover{
    transform: scale(1.05);
}


h1:first-of-type{
    color: #5F9DC1;
}
h2:nth-of-type(3){
    color: #5F9DC1;
}
h2:nth-of-type(4){
    color: #C89F6B;
}
h2:nth-of-type(5){
    color: #B06E68;
}

.link {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.link button {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #4267B2;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.link button:hover{
    transform: scale(1.05);
}

.link button:nth-child(2) 
{ 
    background-color: #1DA1F2; 
}

.link button:nth-child(3) 
{ 
    background-color: #E4405F; 
}

.comment button{
    width: 100px;
    height: 28px;
    background-color: #309BDB;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

textarea{
    width: 460px;
    border-radius: 4px;
}

.other{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cash{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 500px;
}

.cash img{
    border-radius: 8px;
    width: 72px;
    height: 72px;
}

.item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.money{
    color: green;
    font-weight: bold;
}

#icon1{
    color: #5F9DC0;
}

#icon2{
    color: #D2A662;
}

#icon3{
    color: #EC464D;
}

ul:nth-of-type(2) p{
    color: #1DA1F2;
}

ul:nth-of-type(3) p{
    color: purple;
}

ul:nth-of-type(4) p{
    color: green;
}