*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #CDF1FD;
    margin: 200px;
}
.container{
    width: 320px;
    height: 360px;;
    border-radius: 10px;
    background-color: white;
    border: 2px solid none;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 6px black;
    overflow: hidden;
}
img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 320px;
    height: 180px;
}

.content{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: small;
}
h2{
    color: red;
}

button{
    margin: 20px 20px;
    background-color: #2980B9;
    color: white;
    border: none;
    border-radius: 8px;
    width: 280px;
    height: 36px;
}